# Binder-specific requirements
# binder/python=3.7

# Required Python packages
sounddevice
wave
soundfile
pydub
google-cloud-speech
num2words
pandas
numpy
pyspark

# Files to persist in the Binder environment
binder/persist-file:
  - Speech_Recognition_Exercise.ipynb

